.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Table-result {
  max-width: 500px;
  margin: 0 auto;
  border: #818181 solid;
}

.Chart-result {
  max-width: 1000px;
  margin: 0 auto;
}

.Table-result td{
  padding: 5px 20px;
}

.Button-calculate{
  margin: 20px !important;
}

#apexchartschart .apexcharts-menu-open, #apexchartschart .apexcharts-tooltip, #apexchartschart .apexcharts-tooltip .apexcharts-tooltip-title{
  background: #121212;
}

#apexchartschart .apexcharts-tooltip .apexcharts-active{
  background: #656565;
}